@inherits LayoutComponentBase

<PageTitle>PROJECT_ES</PageTitle>

<AuthorizeView>
  <Authorized>
    <!-- =================== START OF CONTAINER =================== -->
    <div class="container">
      <!-- =================== START OF ASIDE =================== -->
      <aside>
        <!-- =================== START OF TOP =================== -->
        <div class="top" style="justify-content: center">
          <!-- =================== START OF LOGO =================== -->
          <div class="logo" >
            <!--
            <img src="images/logo1.png"/>-->
            <h1>VOTE<span class="danger">CINE</span></h1>

          </div>
          <!-- =================== END OF LOGO =================== -->
    
          <!-- =================== START OF CLOSE ICON =================== -->
          <div class="close" id="close-btn">
            <span class="material-icons-sharp">close</span>
          </div>
          <!-- =================== END OF CLOSE ICON =================== -->
        </div>
        <!-- =================== END OF TOP =================== -->
    
        <!-- =================== START OF SIDEBAR =================== -->
        <div class="sidebar">
              <a href="/">
                <span class="material-icons-sharp">home</span>
                <h3>Página Principal</h3>
              </a>
          <a href="welcome" class="active">
            <span class="material-icons-sharp">leaderboard</span>
            <h3>Geral</h3>
          </a>
          <a href="movies">
            <span class="material-icons-sharp">theaters</span>
            <h3>Filmes</h3>
          </a>          
              <a href="competitions">
                <span class="material-icons-sharp">folder_copy</span>
                <h3>Competições</h3>
              </a>
              <a href="categories">
                <span class="material-icons-sharp">storage</span>
                <h3>Categorias</h3>
              </a>
              <a>
                <span class="material-icons-sharp">logout</span>
                <form method="post" action="Identity/Account/Logout">
                  <button style="background-color:rgba(0,128,0,0);font-family: poppins, sans-serif;color: var(--color-info-dark);" type="submit"><h3>Terminar Sessão</h3></button>
                </form>
              </a>
                  
            </div>
        <!-- =================== END OF SIDEBAR =================== -->
      </aside>
      <!-- =================== END OF ASIDE =================== -->
        
        
        
      <!-- =================== START OF MAIN =================== -->
      <main>
        <!-- =================== START OF RIGHT =================== -->
        <div class="right">
          <!-- =================== START OF TOP =================== -->
          <div class="top">
            <button id="menu-btn">
              <span class="material-icons-sharp">menu</span>
            </button>
            <div class="theme-toggler">
              <span class="active material-icons-sharp">light_mode</span>
              <span class="material-icons-sharp">dark_mode</span>
            </div>
            <div class="profile">
              <div class="info">
                <p>Olá, <b>@context.User.Identity?.Name!
                </b></p>
                <small style="color: red" class="text-muted">Admin</small>
              </div>
              <div class="profile-photo">
                <img src="images/profile-pic.jpg" />
              </div>
            </div>
          </div>
          <!-- =================== END OF TOP =================== -->
        </div>
        <!-- =================== END OF RIGHT =================== -->
      
      
      
        @Body
      
      </main>
      <!-- =================== END OF MAIN =================== -->
          
          
          
    </div>
    <!-- =================== END OF CONTAINER =================== -->
  </Authorized>
</AuthorizeView>