@inherits LayoutComponentBase
<div class="top-row ps-3 navbar navbar-dark" style="padding-bottom: 100px">
    <div class="container-fluid">
        <a href="/" class="logo">
                <img style="width: 50%" src="/images/logo1.png"/>
              </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="" @onclick="ToggleNavMenu">
    <nav class="flex-column">
         <AuthorizeView>
                    <Authorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                                <span class="oi oi-home" aria-hidden="true"></span> Voltar Página Inicial
                            </NavLink>
                        </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="welcome" Match="NavLinkMatch.All">
                        <span class="oi oi-eye" aria-hidden="true"></span> Geral
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="movies">
                        <span class="oi oi-monitor" aria-hidden="true"></span> Movies
                    </NavLink>
                </div>
                
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="competitions">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Competition
                    </NavLink>
                </div>
                
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="categories">
                        <span class="oi oi-list" aria-hidden="true"></span> Category
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
    
    
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}